[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
requests = "*"
pyjwt = "*"
liquidcli = {path = "./dist/liquidcli-0.0.1.tar.gz"}

[requires]
python_version = "3.7"
